@model CreateReservationDto

@{
    ViewData["Title"] = "CreateReservation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yeni Rezervasyon Oluşturma Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Misafir Adı Soyadı</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />

                            <label>Misafir Email Adresi</label>
                            <input type="email" asp-for="Email" class="form-control" />
                            <br />

                            <label>Misafir Telefon Numarası</label>
                            <input type="tel" asp-for="PhoneNumber" class="form-control" />
                            <br />

                            <label>Rezervasyon Tarihi</label>
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                            <br />

                            <label>Rezervasyon Saati</label>
                            <input type="time" asp-for="ReservationTime" class="form-control" />
                            <br />

                            <label>Kişi Sayısı</label>
                            <input type="number" asp-for="CountofPeople" class="form-control" />
                            <br />

                            <label>Misafir Mesajı</label>
                            <textarea asp-for="Message" class="form-control"></textarea>
                            <br />

                            <label>Rezervasyon Durumu</label>
                            <select asp-for="ReservationStatus" class="form-control">
                                <option value="Pending">Beklemede</option>
                                <option value="Confirmed">Onaylandı</option>
                                <option value="Cancelled">İptal</option>
                            </select>
                            <br />

                            <button type="submit" class="btn btn-success">Rezervasyon Oluştur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
